@charset "utf-8";
/* CSS Document */

.top  {
	padding:2em;
	margin:1em;
	border:1px solid #000;
	background-color:#c9b1ec;
	width:25em;
	height:17em;

}

.label {
	padding-bottom:2em;
}

body {
	background-color:#9CC;
}

html{
	border:1px solid #000;
	width:38.5em;
	height:30em;
	margin-left:30em;
	margin-top:5em;
	
}

button {
	float:right;
}

.top label {
	padding:0.5em;
}

.box {
	background-color:#c9b1ec;
	padding:0.3em;
	margin-top: 0.75em;
}


.inputField {
	margin-bottom: 1em;
}

label {
	position: absolute;
}

.inputArea {
	position: relative;
	left: 14em;
	top: 0.45em;
}

select {
	position: relative;
	left: 5em;
}

#income, #expenses {
	position: relative;
	left: 6em;
	margin-right: 7em;
}

#expenses {
	margin-left: 1.40em;
}
.subject  {
	background-color:#CCC;
}
 