@charset "utf-8";
/* CSS Document */

html {
	background-color:#9CC;
	margin:0;
	padding:0;
	
}


body {
	
	margin:0 auto;
	padding:0 auto;
	
	
}

 img {
	padding-left:10em;
	margin-top:4em;
	padding-bottom:7em;
	
}



h1 {
	font-family:Tahoma, Geneva, sans-serif;
	float:right;
	padding-right:10em;
	font-size:45px;
	margin-top:2em;
}

body li {
	list-style:none;
	font-size:40px;
	background-color:#bea6e1;
	font-family:Tahoma, Geneva, sans-serif;
	margin-top:1em;
}

body li a {
	text-decoration:none;
	alignment-adjust:central;
	padding-left:1em;
	color:#000;
	
	
}

body li a:hover,
body li a:focus,
body li a:active{
	color: #FFF;
}