@charset "utf-8";
/* CSS Document */

html {
	background-color:#8adbfb;
	margin:0;
	padding:0;
	
}




body {
	
	margin:0 auto;
	padding:0;
	width:30%;
	
}

 img {
	padding-left:4em;
}

h1 {
	font-family:Tahoma, Geneva, sans-serif;
	float:right;
	padding-left:1em;
	font-size:40px;
}

body li {
	list-style:none;
	font-size:40px;
	background-color:#9f61e2;
	font-family:Tahoma, Geneva, sans-serif;
	margin-top:1em;
}

body li a {
	text-decoration:none;
	alignment-adjust:central;
	padding-left:1em;
	color:#000;
	
	
}

body li a:hover,
body li a:focus,
body li a:active{
	color: #FFF;
}